<%# File: about.ejs
  Author: Mason Kerr
  Student ID: 301517873
  Date: September 25
  Description: About ejs file %>

<%- include('header', { title: "About Me" }) %>
<%- include('navbar') %>

<div class="page">
        <h2>About Me</h2>
        <div class="headShotImg">
              <img src="/Images/Headshot.jpg" alt="head shot of me" height="200"/>
        </div>
      <p>
        I’m Mason Kerr, a Software Engineering Technology student at Centennial College. 
        I have hands-on experience in web development, databases, and software project 
        management. I’m skilled in Java, C#, Python, SQL, JavaScript, and React, and enjoy 
        solving problems with technology.
      </p>
      <p>
        I’ve gained professional experience at Manulife, SunLife, and RBC, working on 
        automation, reporting, and data analysis projects. I collaborate well in teams 
        and focus on delivering high-quality solutions.
      </p>
      <a href="/Mason Resume.pdf" target="_blank" rel="noopener noreferrer">
        View My Resume
      </a>
</div>