<%# File: header.ejs
  Author: Mason Kerr
  Student ID: 301517873
  Date: September 25
  Description: Header ejs file %>

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%= title %></title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>