<%# File: navbar.ejs
  Author: Mason Kerr
  Student ID: 301517873
  Date: September 25
  Description: Navbar ejs file %>

<nav class="navbar">
  
    <div class="navbar-logo">
        <img src="/images/NameLogo.png" alt="Logo" height="100">
    </div>
  <ul class ="navbar-links">
    <li><a href="/">Home</a></li>
    <li><a href="/about">About Me</a></li>
    <li><a href="/projects">Projects</a></li>
    <li><a href="/services">Services</a></li>
    <li><a href="/contact">Contact</a></li>
  </ul>
</nav>