<%# File: services.ejs
  Author: Mason Kerr
  Student ID: 301517873
  Date: September 25
  Description: services ejs file %>

<%- include('header', { title: "My Services" }) %>
<%- include('navbar') %>

<div class="page services-page">
      <h2>Skills & Services</h2>
      <ul class="services-list">
        <li>Front-End Web Development with HTML, CSS, and JavaScript (React)</li>
        <li>Basic Software Development using Java, C#, and Python</li>
        <li>Database work and SQL queries (Oracle SQL Developer)</li>
        <li>Data analysis and automation with R and VBA</li>
        <li>Collaborating on team projects and following software project workflows</li>
      </ul>
</div>